{% extends "layout.html" %}

{% block content %}
    <main>
        <p>
            I'm Roman Ilin, a discrete network systems engineer.<br>
            All relevant links are available on <a href="https://github.com/rmnilin" target="_blank">my GitHub profile</a>.
        </p>
        <h4>Pages</h4>
        <nav>
            <ul>
                <li><a href="/ieee-754-tool">IEEE 754 Tool (WIP)</a></li>
                <li><a href="/title-case-tool">Title Case Tool</a></li>
            </ul>
        </nav>
    </main>
{% endblock content %}
