<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Roman Ilin GitHub Pages{% endblock title %}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/style.css">

    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@rmnilin">

    {% block head %}{% endblock head %}
</head>

<body>
    {% block content %}{% endblock content %}
</body>

</html>
